<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nimi</th>
      <th scope="col">Hölkkä (4pts)</th>
      <th scope="col">Hiihto (2pts)</th>
      <th scope="col">Kävely (1pts)</th>
      <th scope="col">Pts yhteensä</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{nimi}}</th>
      <td>{{holkka}}km, {{holkkapisteet}} yht.</td>
      <td>{{hiihto}}km, {{hiihtopisteet}} yht.</td>
      <td>{{kavely}}km, {{kavelypisteet}} yht.</td>
      <td>{{pisteet}}</td>
    </tr>
  </tbody>
</table>