<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h3> Viikon {{ viikko }} pakkasasteet (Laatinut: {{ tekija }}) </h3>


<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Viikko</th>
      <th scope="col">Ma</th>
      <th scope="col">Ti</th>
      <th scope="col">Ke</th>
      <th scope="col">To</th>
      <th scope="col">Pe</th>
      <th scope="col">La</th>
      <th scope="col">Su</th>
      <th scope="col">Ka(pp)</th>
      <th scope="col">Ka(viikko)</th>
      <th scope="col">Toiminnot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ viikko }}</th>
      <td>{{ pakkasasteet['ma'] }}<sup>o</sup>C</td>
      <td>{{ pakkasasteet['ti'] }}<sup>o</sup>C</td>
      <td>{{ pakkasasteet['ke'] }}<sup>o</sup>C</td>
      <td>{{ pakkasasteet['to'] }}<sup>o</sup>C</td>
      <td>{{ pakkasasteet['pe'] }}<sup>o</sup>C</td>
      <td>{{ pakkasasteet['la'] }}<sup>o</sup>C</td>
      <td>{{ pakkasasteet['su'] }}<sup>o</sup>C</td>
      <td>{{ keskiarvo1 }}<sup>o</sup>C</td>
      <td>{{ keskiarvo2 }}<sup>o</sup>C</td>
      <td>Toiminnot</td>
    </tr>
    </tbody>
</table>